{% extends "layout.html" %}

{% block title %}
    Buy
{% endblock %}

{% block main %}

<script src="{{url_for('static', filename='dynamic_url_inputs.js')}}"></script>

<div class="controls">
    <button class="btn btn-primary" id="add" type="button">Add</button>
    <button class="btn btn-primary" id="remove" type="button">Remove</button>
</div>
<br>
<form action="/buy" method="POST">
    <button class="btn btn-primary" type="submit">Buy</button>
    <br>
    <br>
    <div id="formfield">
        <div class="input-container">
            <label for="url" class="label">Item 1:</label>
            <input autocomplete="off" autofocus required class="form-control mx-auto w-auto" name="url" id="url" placeholder="URL" type="text">
        </div>
    </div>
</form>
{% endblock %}
