{% extends "layout.html" %}

{% block title %}
    Buy
{% endblock %}

{% block main %}
<script>
    document.addEventListener('DOMContentLoaded', function() {
        var formfield = document.getElementById('formfield');

        function addInput() {
            var newUrl = document.createElement('input');
            newUrl.setAttribute('autocomplete','off');
            newUrl.setAttribute('autofocus','');
            newUrl.setAttribute('class','form-control mx-auto w-auto')
            newUrl.setAttribute('name','url');
            newUrl.setAttribute('placeholder','URL');
            newUrl.setAttribute('type','text');
            formfield.appendChild(newUrl);

            var newQuantity = document.createElement('input');
            newQuantity.setAttribute('autocomplete','off');
            newQuantity.setAttribute('class','form-control mx-auto w-auto')
            newQuantity.setAttribute('name','quantity');
            newQuantity.setAttribute('placeholder','Quantity');
            newQuantity.setAttribute('type','number');
            formfield.appendChild(newQuantity);
        }

        function removeInput() {
            var input_tags = formfield.getElementsByTagName('input');
            if(input_tags.length > 2) {
                formfield.removeChild(input_tags[(input_tags.length) - 2]);
                formfield.removeChild(input_tags[(input_tags.length) - 1]);
            }
        }

        document.querySelector("#add").addEventListener('click', function(event) {
            addInput();
        });

        document.querySelector("#remove").addEventListener('click', function(event) {
            removeInput();
        });
    });
</script>

<form action="" method="POST">
    <div id="formfield">
        <input autocomplete="off" autofocus class="form-control mx-auto w-auto" name="url" placeholder="URL" type="text">
        <input autocomplete="off" autofocus class="form-control mx-auto w-auto" name="quantity" placeholder="Quantity" type="number">
    </div>
    <br>
    <button class="btn btn-primary" type="submit">Buy</button>
</form>
<br>
<div class="controls">
    <button class="btn btn-primary" id="add" type="">Add</button>
    <button class="btn btn-primary" id="remove" type="">Remove</button>
</div>
{% endblock %}
