{% extends "layout.html" %}

{% block title %}
    History
{% endblock %}

{% block main %}
<h2>Transaction History</h2>
<br>
    <table class="table">
        <thead>
        <tr>
            <th scope="col">URL</th>
            <th scope="col">Purchase Price</th>
            <th scope="col">Date-Time</th>
        </tr>
        </thead>
        <tbody>
            {% for row in transactions %}
            <tr>
                <td><a href="{{ row['url'] }}">Item {{ loop.index }}</a></td>
                <td>{{ row["price"] }}</td>
                <td>{{ row["datetime"] }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
