{% extends "layout.html" %}

{% block title %}
    Profile
{% endblock %}

{% block main %}
  <script>
    document.addEventListener('DOMContentLoaded', function() {
        var checkbox = document.querySelector('#sameAddress');
        checkbox.addEventListener('click', function(event) {
            var billing = document.querySelector(".mb-3.billing");
            if (checkbox.checked) {
                billing.style.display = "none";
            } else {
                billing.style.display = "block";
            }
        });
    });
  </script>

    <form action="/profile" method="post">
      <div class="mb-3">
        <label>Profile</label><br>
        <input type="text" id="firstName" name="firstName" placeholder="First Name" required value= "{{ profile_recent['firstName'] }}" autocomplete="off">
        <input type="text" id="lastName" name="lastName" placeholder="Last Name" required value="{{ profile_recent['lastName'] }}" autocomplete="off">
      </div>
      
      <div class="mb-3">
          <input type="email" id="email" name="email" placeholder="Email" required value="{{ profile_recent['email'] }}" autocomplete="off"><br><br>
      </div>
      
      <div class="mb-3">
          <label>Shipping</label><br>
          <input type="text" id="address" name="address" placeholder="Address" required value="{{ profile_recent['address'] }}" autocomplete="off">
          <input type="text" id="address2" name="address2" placeholder="Address2 (Optional)" value="{{ profile_recent['address2'] }}" autocomplete="off">
          <input type="text" id="state" name="state" placeholder="State" required value="{{ profile_recent['state'] }}" autocomplete="off">
          <input type="text" id="zip" name="zip" placeholder="Zip Code" required value="{{ profile_recent['zip'] }}" autocomplete="off">
          <input type="text" id="country" name="country" placeholder="Country" required value="{{ profile_recent['country'] }}" autocomplete="off"><br>  
          <label for="sameAddress">Same Address for Billing?</label>
          <input type="checkbox" id="sameAddress" name="sameAddress" {% if profile_recent['sameAddress']=='on' %}checked{% endif %} autocomplete="off"><br><br>
      </div>
      <div class="mb-3 billing" {% if profile_recent['sameAddress']=='on' %}style="display: none;"{% endif %}>
        <label>Billing</label><br>
        <input type="text" id="addressB" name="addressB" placeholder="Address" required value="{{ profile_recent['addressB'] }}" autocomplete="off">
        <input type="text" id="address2B" name="address2B" placeholder="Address2 (Optional)" value="{{ profile_recent['address2B'] }}" autocomplete="off">
        <input type="text" id="stateB" name="stateB" placeholder="State" required value="{{ profile_recent['stateB'] }}" autocomplete="off">
        <input type="text" id="zipB" name="zipB" placeholder="Zip Code" required value="{{ profile_recent['zipB'] }}" autocomplete="off">
        <input type="text" id="countryB" name="countryB" placeholder="Country" required value="{{ profile_recent['countryB'] }}" autocomplete="off"><br>  
      </div>
      <div class="mb-3">
          <label>Credit Card Information</label><br>
          <input type="text" id="ccName" name="ccName" placeholder="Name" required value="{{ profile_recent['ccName'] }}" autocomplete="off">
          <input type="text" id="ccNumber" name="ccNumber" placeholder="Number" required value="{{ profile_recent['ccNumber'] }}" autocomplete="off">
          <input type="text" id="ccExpiration" name="ccExpiration" placeholder="Expiration: MM/YYYY" required value="{{ profile_recent['ccExpiration'] }}" autocomplete="off">
          <input type="text" id="ccSecurity" name="ccSecurity" placeholder="Security Code" required value="{{ profile_recent['ccSecurity'] }}" autocomplete="off">
          <br><br>
      </div>
        <button class="btn btn-primary" type="submit">Save</button>
    </form>
{% endblock %}
