{% extends "layout.html" %}

{% block title %}
    Profile
{% endblock %}

{% block main %}
    <form action="/profile" method="post">
      <div class="mb-3">
        <label><h3>Profile</h3></label><br>
        <input type="text" id="firstName" name="firstName" placeholder="First Name" required value="{% if profile_recent['firstName'] != None %}{{ profile_recent['firstName'] }}{% endif %}" autocomplete="off">
        <input type="text" id="lastName" name="lastName" placeholder="Last Name" required value="{% if profile_recent['lastName'] != None %}{{ profile_recent['lastName'] }}{% endif %}" autocomplete="off"><br>
        <input type="text" id="email" name="email" placeholder="Email" required value="{% if profile_recent['email'] != None %}{{ profile_recent['email'] }}{% endif %}" autocomplete="off">
        <input type="text" id="phone" name="phone" placeholder="Phone: 1 (123) 456-7890" required value="{% if profile_recent['phone'] != None %}{{ profile_recent['phone'] }}{% endif %}" autocomplete="off"><br><br>
      </div>
      
      <div class="mb-3">
          <label><h3>Shipping</h3></label><br>
          <input type="text" id="address" name="address" placeholder="Address" required value="{% if profile_recent['address'] != None %}{{ profile_recent['address'] }}{% endif %}" autocomplete="off">
          <input type="text" id="address2" name="address2" placeholder="Address2 (Optional)" value="{% if profile_recent['address2'] != None %}{{ profile_recent['address2'] }}{% endif %}" autocomplete="off"><br>
          <input type="text" id="city" name="city" placeholder="City (all lowercase)" required value="{% if profile_recent['city'] != None %}{{ profile_recent['city'] }}{% endif %}" autocomplete="off">
          <input type="text" id="state" name="state" placeholder="State (all lowercase)" required value="{% if profile_recent['state'] != None %}{{ profile_recent['state'] }}{% endif %}" autocomplete="off">
          <input type="text" id="zip" name="zip" placeholder="Zip Code" required value="{% if profile_recent['zip'] != None %}{{ profile_recent['zip'] }}{% endif %}" autocomplete="off"><br>
      </div>
      <div class="mb-3">
          <label><h3>Credit Card Information</h3></label><br>
          <input type="text" id="ccName" name="ccName" placeholder="Name" required value="{% if profile_recent['ccName'] != None %}{{ profile_recent['ccName'] }}{% endif %}" autocomplete="off">
          <input type="text" id="ccNumber" name="ccNumber" placeholder="Number" required value="{% if profile_recent['ccNumber'] != None %}{{ profile_recent['ccNumber'] }}{% endif %}" autocomplete="off"><br>
          <input type="text" id="ccExpirationM" name="ccExpirationM" placeholder="Expiration Month: MM" required value="{% if profile_recent['ccExpiration'] != None %}{{ profile_recent['ccExpiration'][0:2] }}{% endif %}" autocomplete="off">
          <input type="text" id="ccExpirationY" name="ccExpirationY" placeholder="Expiration Year: YY" required value="{% if profile_recent['ccExpiration'] != None %}{{ profile_recent['ccExpiration'][-2:] }}{% endif %}" autocomplete="off">
          <input type="text" id="ccSecurity" name="ccSecurity" placeholder="Security Code" required value="{% if profile_recent['ccSecurity'] != None %}{{ profile_recent['ccSecurity'] }}{% endif %}" autocomplete="off">
          <br><br>
      </div>

      <button class="btn btn-primary" type="submit">Save</button>
    </form>
{% endblock %}
